{% extends 'base.html' %}

{% block title %} CikguHub - Recommendations {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% load recsys_extras %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron bg-transparent>
        <div class="container">
            <h1 class="display-3">Recommended Activity</h1>
            <br>
            {% if module %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="{{ module.video.url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            {% else %}
            <p>No more activities left. More coming soon, thank you!</p>
            {% endif %}
        </div>
    </div>
    
    <div class="container">

        <form action="{% url 'recsys:recommended_module' module.id %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>Question #{{forloop.counter}}: {{ module.questions.all|index:forloop.counter0|get_question }}</p>
                {{ field | as_crispy_field }}
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}