{% extends 'base.html' %}

{% block title %} CikguHub - Recommendations {% endblock %}

{% block content %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Recommended Activity</h1>
            <br>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/is5MVZeiju8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    
    <div class="container">
        <p>TBD</p>
    </div>


<footer class="container">
    <p>&copy; CikguHub 2023</p>
</footer>
{% endblock %}