{% extends 'base.html' %}

{% block title %} CikguHub - Recommendations {% endblock %}

{% block content %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Recommendations for {{ curr_user }}</h1>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Switch User
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for u in all_users %}
                    <a class="dropdown-item" href="{% url 'recsys:expert_recs' u.id %}">{{u.username}}</a>
                    {% endfor %}
                </div>
              </div>
            <br>


        </div>
    </div>

<footer class="container">
    <p>&copy; CikguHub 2023</p>
</footer>
{% endblock %}