{% extends 'base.html' %}

{% block title %} CikguHub - Report {% endblock %}

{% block content %}
{% load report_extras %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/user_report.css' %}">

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Report: {{ curr_user.username }}</h1>
            
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Switch User
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for u in all_users %}
                    <a class="dropdown-item" href="{% url 'report:expert_report' u.id %}">{{u.username}}</a>
                    {% endfor %}
                </div>
            </div>

            <br>
            
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm col-md-4">
                <h3 class="mb-4">Competencies</h3>
                {% for id, value in metrics.items %}
                <div class="d-flex flex-row justify-content-start align-items-start">
                    <div class="p-2">
                        <img src="{% static value.icon_url %}" alt="icon for {{value.name}}" width="50" height="50" data-toggle="tooltip" data-placement="right" data-html="true" title="{{value.tooltip}}">
                    </div>
    
                    <div class="p-2" style="flex-grow: 1;">
                        <div class="input-group">
                            <input type="range" class="form-control-range" id="planner" min="0" max="100"
                                value="{{value.value}}" disabled>
                            <p>{{ value.value }}</p>
                        </div>
                    </div>
                </div>
    
                <p style="margin-top: -20px;">{{ value.name }}</p>
                {% endfor %}
            </div>
            <div class="col-sm col-md-8">
                <h3 class="mb-4">Feedback</h3>
                <p>{{ feedback_obj.feedback|safe }}</p>
    
                <p><b>Human Edited:</b> {{ feedback_obj.human_edited }}</p>
                <p><b>Human Approved:</b> {{ feedback_obj.human_approved }}</p>
                
                <div class="row">
                    <a role="button" class="btn btn-light ml-3" href="{% url 'report:update_feedback' feedback_obj.id %}">Edit</a>
                    <a role="button" class="btn btn-{% if feedback_obj.human_approved %}danger{% else %}success{% endif %} ml-2 " href="{% url 'report:approve_feedback' feedback_obj.id %}">{% if feedback_obj.human_approved %}Unapprove{% else %}Approve{% endif %}</a>
                </div>
            </div>
        </div>

        <h3 class="my-3">Additional Information</h3>
        <p>Name: {{ learner_model.full_name }}</p>
        <p>School Level: {{ learner_model.school_level }}</p>
        <p>Years of Experience: {{ learner_model.years_of_experience }}</p>
        <p>Role: {{ learner_model.role }}</p>
        <p>Skill Interests: {{ learner_model.skill_interests }}</p>
        <p>Additional Interests: {% if learner_model.other_interests %}{{ learner_model.other_interests }}{% else %}N/A{% endif %}</p>
        <p>Completed Modules: {{ completed_modules.count }}</p>

        {% if completed_modules.count > 0 %}
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Completed Module Details
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            {% for m in completed_modules %}
            <div class="card mb-2">
                <h5 class="card-header">{{ m.module.title }}</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm col-md-3">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="{{ m.module.video.url }}" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="col-sm col-md-8">
                            <ul>
                                {% for q in m.module.questions.all %}
                                <li>{{ q.question }}</li>
                                <ul>
                                    <li>{{ q.answertovideoquestion_set | by_user:curr_user | get_first_answer }}</li>
                                </ul>
                                {% endfor %}
                            </ul>
                            <br>
                            <p>Time Spent (seconds): {{ m.time_spent }} </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}{% endif %}
    </div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({ html: true });
    });
</script>

{% endblock %}