{% extends 'base.html' %}

{% block title %} CikguHub - Report {% endblock %}

{% block content %}

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Competency Report</h1>
            <p></p>
            <p>Name: {{ learner_model.full_name }}</p>
            <p>School Level: {{ learner_model.school_level }}</p>
            <p>Years of Experience: {{ learner_model.years_of_experience }}</p>
            <p>Role: {{ learner_model.role }}</p>
            <p>Skill Interests: {{ learner_model.skill_interests }}</p>
            <p>Additional Interests: {{ learner_model.other_interests }}</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm col-md-6">
                <h3>Competencies</h3>
                <p>Planner: {{ planner_score }}</p>
                <p>Guardian: {{ guardian_score }}</p>
                <p>Mentor: {{ mentor_score }}</p>
                <p>Motivator: {{ motivator_score }}</p>
                <p>Assessor: {{ assessor_score }}</p>
            </div>
            <div class="col-sm col-md-6">
                <h3>Feedback</h3>
                <p>{{ learner_model.feedback }}</p>
            </div>
        </div>
    </div>
{% endblock %}