{% extends 'base.html' %}

{% block title %} CikguHub - Report {% endblock %}

{% block content %}
{% load report_extras %}

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Report: {{ curr_user.username }}</h1>
            
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Switch User
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for u in all_users %}
                    <a class="dropdown-item" href="{% url 'report:expert_report' u.id %}">{{u.username}}</a>
                    {% endfor %}
                </div>
            </div>

            <br>
            <p>Name: {{ learner_model.full_name }}</p>
            <p>School Level: {{ learner_model.school_level }}</p>
            <p>Years of Experience: {{ learner_model.years_of_experience }}</p>
            <p>Role: {{ learner_model.role }}</p>
            <p>Skill Interests: {{ learner_model.skill_interests }}</p>
            <p>Additional Interests: {% if learner_model.other_interests %}{{ learner_model.other_interests }}{% else %}N/A{% endif %}</p>
            <p>Completed Modules: {{ completed_modules.count }}</p>

            {% if completed_modules.count > 0 %}
            <p>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Completed Module Details
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                {% for m in completed_modules %}
                <div class="card mb-2">
                    <h5 class="card-header">{{ m.module.title }}</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm col-md-3">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="{{ m.module.video.url }}" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-sm col-md-8">
                                <ul>
                                    {% for q in m.module.questions.all %}
                                    <li>{{ q.question }}</li>
                                    <ul>
                                        <li>{{ q.answertovideoquestion_set | by_user:curr_user | get_first_answer }}</li>
                                    </ul>
                                    {% endfor %}
                                </ul>
                                <br>
                                <p>Time Spent (seconds): {{ m.time_spent }} </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}{% endif %}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm col-md-6">
                <h3>Competencies</h3>
                <p>Planner: {{ learner_model.planner_score|floatformat:"0" }}</p>
                <p>Guardian: {{ learner_model.guardian_score|floatformat:"0" }}</p>
                <p>Mentor: {{ learner_model.mentor_score|floatformat:"0" }}</p>
                <p>Motivator: {{ learner_model.motivator_score|floatformat:"0" }}</p>
                <p>Assessor: {{ learner_model.assessor_score|floatformat:"0" }}</p>
            </div>
            <div class="col-sm col-md-6">
                <h3>Feedback</h3>
                <p>{{ learner_model.feedback }}</p>
            </div>
        </div>
    </div>
{% endblock %}