{% extends 'base.html' %}
{% load static %}

{% block title %} CikguHub - Report {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/user_report.css' %}">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Competency Report</h1>

        {% if user.is_superuser %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Switch User
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for u in all_users %}
                <a class="dropdown-item" href="{% url 'report:user_report' u.id %}">{{u.username}}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <h3 class="mb-4">Competencies</h3>
            {% for id, value in metrics.items %}
            <div class="d-flex flex-row justify-content-start align-items-start">
                <div class="p-2">
                    <img src="{% static value.icon_url %}" alt="icon for {{value.name}}" width="50" height="50" data-toggle="tooltip" data-placement="right" title="{{value.tooltip}}"> 
                </div>

                <div class="p-2" style="flex-grow: 1;">
                    <div class="input-group">
                        <input type="range" class="form-control-range" id="planner" min="0" max="100"
                            value="{{value.value}}" disabled>
                        <p>{{ value.value }}</p>
                    </div>
                </div>
            </div>

            <p style="margin-top: -20px;">{{ value.name }}</p>
            {% endfor %}
        </div>

        <div class="col-sm-12 col-lg-8">
            <h3 class="mb-4">Feedback</h3>
            <p>{{ description|safe }}</p>
        </div>
    </div>
    <a class="button" href="{% url 'recsys:user_recs' %}">Join a class to improve skills!</a>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({ html: true });
    });
</script>


{% endblock %}