{% extends 'base.html' %}
{% load static %}

{% block title %} CikguHub - Report {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/user_report.css' %}">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron bg-transparent">
    <div class="container">
        <h1 class="display-3">Progress Report</h1>

        {% if user.is_superuser %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Switch User
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for u in all_users %}
                <a class="dropdown-item" href="{% url 'report:user_report' u.id %}">{{u.username}}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-sm-4 col-md-2">{{teaching_plot | safe}}</div>
        <div class="col-sm-4 col-md-2">{{leadership_plot | safe}}</div>
        <div class="col-sm-4 col-md-2">{{multimedia_plot | safe}}</div>
        <div class="col-sm-4 col-md-2">{{coaching_plot | safe}}</div>
        <div class="col-sm-4 col-md-2">{{digital_plot | safe}}</div>
    <div>
    <div class="row">
        <div class="col-sm-12 col-lg-3">
            <h3 class="mb-4">Competencies</h3>
            {% for id, value in metrics.items %}
            <div class="d-flex flex-row" >
                <div class="p-2">
                    <img src="{% static value.icon_url %}" alt="icon for {{value.name}}" width="50" height="50" data-toggle="tooltip" data-placement="right" title="{{value.tooltip}}"> 
                </div>

                <div class="p-2 d-flex align-items-end" data-toggle="tooltip" data-placement="right" title="{{value.tooltip}}">
                    {% comment %} <div class="input-group">
                        <input type="range" class="form-control-range" id="planner-{{id}}" min="0" max="100"
                            value="{{value.value}}" disabled aria-label="Competency score slider for {{value.name}}">
                        <p>{{ value.value }}</p>
                    </div> {% endcomment %}
                    <p>{% if value.value <= 33 %}Beginner{% elif value.value <= 66 %}Intermediate{% else %}Master{% endif %} {{ value.name }}</p> 
                </div>
            </div>

            {% comment %} <p ></p> {% endcomment %}
            {% endfor %}
        </div>

        <div class="col-sm-12 col-lg-9">
            <h3 class="mb-4">Feedback</h3>
            <p>{{ description|safe }}</p>

            <hr>
            <p><b>Human Edited:</b> {{ feedback_obj.human_edited }}</p>
            <p><b>Human Approved:</b> {{ feedback_obj.human_approved }}</p>
            <form action="{% url 'report:user_report' user.id %}" method="POST">
                <div class="input-group">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Questions/comments about feedback?" aria-label="Comment" name="userfeedback" required>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-primary" value="Comment">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% comment %} <a class="button" href="{% url 'recsys:user_recs' %}">Join a class to improve skills!</a> {% endcomment %}
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({ html: true });
    });
</script>


{% endblock %}