{% extends 'base.html' %}

{% block title %} CikguHub - User Clustering {% endblock %}

{% block content %}

{% load recsys_extras %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">User Clustering</h1>
    </div>
</div>

<div class="container">
  {% for key,value in cluster_msgs.items %}
  <p> {{ key }}: {{ value }}</p>
  {% endfor %}

  <br>
  
  {% for learner in learners %}
  <p> {{learner.full_name}} - Experience: {{learner.years_of_experience}} - Cluster: {{ labels|index:forloop.counter0 }}</p>
  {% endfor %}
</div>

<!-- <canvas id="myChart" style="width:100%;max-width:700px"></canvas> -->

<script>
/*var xyValues = [
  {x:50, y:7},
  {x:60, y:8},
  {x:70, y:8},
  {x:80, y:9},
  {x:90, y:9},
  {x:100, y:9},
  {x:110, y:10},
  {x:120, y:11},
  {x:130, y:14},
  {x:140, y:14},
  {x:150, y:15}
];

var xyValues = {{plotpoints|safe}}

console.log(xyValues);

new Chart("myChart", {
  type: "scatter",
  data: {
    datasets: [{
      pointRadius: 4,
      pointBackgroundColor: "rgb(0,0,255)",
      data: xyValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      xAxes: [{ticks: {min: 0, max:11}}],
      yAxes: [{ticks: {min: 0, max:5}}],
    }
  }
});*/
</script>

{% endblock %}