{% extends 'base.html' %}
{% load static %}
{% load recsys_extras %}

{% block title %} CikguHub - User Clustering {% endblock %}

{% block content %}

{% load recsys_extras %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">User Clustering</h1>
    </div>
</div>



<div class="container">
  <form action="{% url 'recsys:user_clustering' %}" method="post">
    {% csrf_token %}
    <div class="row">
      <div class = "col-6"> 
        <div class="form-group">
          <label for="numSelect">Number of Clusters</label>
          <select class="form-control" id="numSelect" name="numSelect">
            {% for i in '3456789'|make_list %}
            <option value="{{i}}" {% if i == num_clusters|stringformat:"i" %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="form-group">
          <label for="methodSelect">Clustering Method</label>
          <select class="form-control" id="methodSelect" name="methodSelect">
            <option value="kmeans" {% if method == "kmeans" %}selected{% endif %}>K-means clustering: Iteratively divides teachers into groups based on similarities in characteristics.</option>
            <option value="agglomerative" {% if method == "agglomerative" %}selected{% endif %}>Agglomerative clustering: Merges similar teacher groups until a desired number is obtained.</option>
            <option value="spectral" {% if method == "spectral" %}selected{% endif %}>Spectral clustering: Graph-based approach that will divide teachers based on their closeness in this HD space.</option>
          </select>
        </div>
      </div>

      <div class = "col-6"> 
        <p>What features to consider when clustering?</p>
        <div class="row">
          <div class = "col-6"> 
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="experience">Years of Experience
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="teaching_level">School Level
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="teaching">Teaching Interest
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="coaching">Coaching Interest
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="leadership">Leadership Interest
              </label>
            </div>
          </div>
          <div class = "col-6"> 
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="digital">Digital Interest
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="multimedia">Multimedia Interest
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="roles_T">Teacher Role
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="roles_P">Panel Head Role
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="roles_O">Officer Role
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-3"> 
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Cluster</button>
  </form>
</div>

<div class="container">
  
  <div class="card-container" style="display: flex; flex-wrap: wrap;">
    {% for key,value in cluster_msgs.items %}
      <div class="card border-0" style="width: 18rem; margin: 10px;">
        {% if value|make_list|first|to_int <= 3 %}
          <img class="card-img-top" src="{% static 'img/low_clus.png' %}" style="background-color: #FFD600;  object-fit: contain;">
        {% elif value|make_list|first|to_int >= 4 and value|make_list|first|to_int <= 6 %}
          <img class="card-img-top" src="{% static 'img/med_clus.png' %}" style="background-color: #FFD600; object-fit: contain;">
        {% else %}
          <img class="card-img-top" src="{% static 'img/high_clus.png' %}" style="background-color: #FFD600;  object-fit: contain;">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ key }}</h5>
          <p class="card-text">{{ value }}</p>
          <!-- <a href="#" class="btn btn-primary">Show list</a> -->
        </div> 
      </div>   
    {% endfor %}
  </div>


  <br>
  {% autoescape off %}
  {{ plot_div }}
  {% endautoescape %}

  <br>

  {% for learner in learners %}
  <p> {{learner.full_name}} - Experience: {{learner.years_of_experience}} - Cluster: {{ labels|index:forloop.counter0 }}</p>
  {% endfor %}
</div>

<!-- <canvas id="myChart" style="width:100%;max-width:700px"></canvas> -->

<script>
/*var xyValues = [
  {x:50, y:7},
  {x:60, y:8},
  {x:70, y:8},
  {x:80, y:9},
  {x:90, y:9},
  {x:100, y:9},
  {x:110, y:10},
  {x:120, y:11},
  {x:130, y:14},
  {x:140, y:14},
  {x:150, y:15}
];

var xyValues = {{plotpoints|safe}}

console.log(xyValues);

new Chart("myChart", {
  type: "scatter",
  data: {
    datasets: [{
      pointRadius: 4,
      pointBackgroundColor: "rgb(0,0,255)",
      data: xyValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      xAxes: [{ticks: {min: 0, max:11}}],
      yAxes: [{ticks: {min: 0, max:5}}],
    }
  }
});*/
</script>

{% endblock %}