{% extends 'base.html' %}
{% load static %}
{% load recsys_extras %}

{% block title %} CikguHub - User Clustering {% endblock %}

{% block content %}

{% load recsys_extras %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">User Clustering</h1>
    </div>
</div>



<div class="container">
  <div class="form-group">
    <label for="numSelect">Number of Clusters</label>
    <select class="form-control" id="numSelect" onchange="location = this.value;">
      {% for i in '3456789'|make_list %}
      <option value="{% url 'recsys:user_clustering' method i %}" {% if i == num_clusters|stringformat:"i" %}selected{% endif %}>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  
  <div class="form-group">
    <label for="methodSelect">Clustering Method</label>
    <select class="form-control" id="methodSelect" onchange="location = this.value;">
      <option value="{% url 'recsys:user_clustering' 'kmeans' num_clusters %}" {% if method == "kmeans" %}selected{% endif %}>K-Means</option>
      <option value="{% url 'recsys:user_clustering' 'agglomerative' num_clusters %}" {% if method == "agglomerative" %}selected{% endif %}>Agglomerative</option>
      <option value="{% url 'recsys:user_clustering' 'spectral' num_clusters %}" {% if method == "spectral" %}selected{% endif %}>Spectral</option>
    </select>
  </div>

  
  <div class="card-container" style="display: flex; flex-wrap: wrap;">
    {% for key,value in cluster_msgs.items %}
      <div class="card border-0" style="width: 18rem; margin: 10px;">
        {% if value|make_list|first|to_int <= 3 %}
          <img class="card-img-top" src="{% static 'img/low_clus.png' %}" style="background-color: #FFD600">
        {% elif value|make_list|first|to_int >= 4 and value|make_list|first|to_int <= 6 %}
          <img class="card-img-top" src="{% static 'img/med_clus.png' %}" style="background-color: #FFD600">
        {% else %}
          <img class="card-img-top" src="{% static 'img/high_clus.png' %}" style="background-color: #FFD600">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ key }}</h5>
          <p class="card-text">{{ value }}</p>
          <!-- <a href="#" class="btn btn-primary">Show list</a> -->
        </div> 
      </div>   
    {% endfor %}
  </div>


  <br>
  {% for learner in learners %}
  <p> {{learner.full_name}} - Experience: {{learner.years_of_experience}} - Cluster: {{ labels|index:forloop.counter0 }}</p>
  {% endfor %}
</div>

<!-- <canvas id="myChart" style="width:100%;max-width:700px"></canvas> -->

<script>
/*var xyValues = [
  {x:50, y:7},
  {x:60, y:8},
  {x:70, y:8},
  {x:80, y:9},
  {x:90, y:9},
  {x:100, y:9},
  {x:110, y:10},
  {x:120, y:11},
  {x:130, y:14},
  {x:140, y:14},
  {x:150, y:15}
];

var xyValues = {{plotpoints|safe}}

console.log(xyValues);

new Chart("myChart", {
  type: "scatter",
  data: {
    datasets: [{
      pointRadius: 4,
      pointBackgroundColor: "rgb(0,0,255)",
      data: xyValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      xAxes: [{ticks: {min: 0, max:11}}],
      yAxes: [{ticks: {min: 0, max:5}}],
    }
  }
});*/
</script>

{% endblock %}